<%= title_tag "Share Upload" %>

<div id="share">
  <%= render partial: 'uploads/upload', locals: { upload: @upload, user: current_user } %>
  <div id="shares_form">
    <%= render 'form' %>
  </div>
</div>

<script>
  $('#upload_shared_with_ids').chosen()
</script>