<%= title_tag "Download History" %>
<div id="uploads">
  <%= render partial: "uploads/upload", locals: { upload: @upload, user: current_user } %>
</div>
<table id="downloads" class="table table-striped">
  <thead>
    <th>Downloaded By</th>
    <th>Downloaded On</th>
  </thead>
  <tbody>
    <% @downloads.each do |download| %>
      <tr>
        <td><%= link_to download.user.name, download.user %></td>
        <td>
          <%= download.created_at.strftime('%b %e, %Y at %l:%M %p') %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>