<div id="allowed_users">
  <% if current_user.allowed_users.any? %>  
    <p class="muted">
      Users that you can share files with:
    </p>
    <ul>
    <% current_user.allowed_users.each do |a| %>
      <li class="allowed_user">
        <%= link_to a.name, a %>
        <i class="icon-share"></i> <%= current_user.uploads.shared_with(a).count %>
      </li>
    <% end %>
  <% end %>
</div>