<div id="nothing_to_show" class="upload collection">
  <h3>Nothing to show</h3>
  <p class="muted">
    <% if user == current_user %>
      <%= current_user.uploads.any? ? "No results found." : "You haven't uploaded any files yet." %>
    <% elsif params[:controller] == "downloads" %>
      <%= Upload.shared_with(current_user).any? ? "No results found." : "Once a user shares a file with you it will appear on this page for you to download." %>
    <% elsif params[:controller] == "users" && params[:action] == "show" %>
      <%= user.uploads.shared_with(current_user).any? ? "No results found." : "Once this user shares a file with you it will appear on this page for you to download." %>
    <% else %>
      Nothing to show.
    <% end %>
  </p>
</div>
